html, body {
  height: 100%;
    width: 100%;
}

html {
    position: fixed;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
background: url("assets/bggloria.png") center/100% repeat-y;
  
}

.clicktoplay {
    font-family: 'Press Start 2P', cursive;
  justify-content: center;
  align-items: center;
}

.run {
    font-family: 'Press Start 2P', cursive;    
    font-size: 48px;
    color: limegreen;
    cursor: pointer;
    margin: 8px auto;
}

.runningtitle {
     font-family: 'Press Start 2P', cursive;
    font-size: 32px;
    position: absolute;
    left: 0;
    width: 100%;
    text-align: center;
    top: 10px;
    display: none;
}

.run:hover {
    color: red;
}
h1 {
    font-size: 128px;
    margin: 8px auto;
}

canvas {
    display: none;
    border: 0px;
}
canvas:active{
  cursor: grabbing; /*url("sprites/cursor-drag.png"),auto;*/
}

img, canvas{
  cursor: grab; /*url("sprites/cursor-open.png"),auto;*/
}

.about {
    overflow: auto;
    background-color: rgba(51,51,51,.9);
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    margin: 2.5%;
    z-index: 100;
    width: 65%;
    height: 75%;
    color: white;
    padding: 5% 15%;
    font-family: verdana, sans-serif;
    font-size: 18px;
}
.about h2 {
    font-family: 'Press Start 2P', cursive;    
    font-size: 32px;
}
.about a, .about a:visited, .about a:active {
    color: gold;
    text-decoration: none;
}
.about a:hover {
    color: red;
}
.closebtn {
    padding: 20px;
    font-family: 'Press Start 2P', cursive;    
    font-size: 32px;
    text-align: center;
}
